<!DOCTYPE html>
<html lang="en">
    <%- include('./layout/head.ejs') %>
<body>
    <%- include('./layout/header.ejs') %>

   <main>
    
    <h4><img class="img1" src="<%= data.image %>"></h4>
    <!-- <li>Title: <%= data.title %></li>
        <li>Authors: <%= data.authors%></li>
        <li>Descrption: <%= data.description %></li>
        <li>ISBN:<%= data.ISBN%></li>
        <li>bookshelf:<%= data.bookshelf%></li> -->
    </main>
</body>
</html>