<!DOCTYPE html>
<html lang="en">
    <%- include('./layout/head.ejs') %>
<body>
    <%- include('./layout/header.ejs') %>


    <form class="addForm" action="/books" method="post">
        <label for="" class="addBook">Image-URL</label>
            <input  type="text" name="image" value="<%= data.image%>">
            <label for="" class="addBook">Title</label>
                <input  type="text" name="title" placeholder="Populated Title:" value="<%= data.title%>">
        <label for="" class="addBook">Author</label>
                <input  type="text" name="author" placeholder="Populated Author:" value=" <%= data.author%>">
    <label for="" class="addBook">Description</label>
                <textarea  name="description" placeholder="description:" ><%= data.description%></textarea>
            <button> Add To My Books </button>
    </form>
</body>
</html>