<!DOCTYPE html>
<html lang="en">

    <%- include('./layout/head.ejs') %>

<body>
    <%- include('./layout/header.ejs') %>

    <main>
        <p> count:<%= data.length %></p>
        <%data.forEach(val =>{%>
        <form action="/book/<%= val.id%>" method="get">

         <div class="container">

                <% if(val.image){%>
                <img src="<%= val.image%>">
                <%}%>
                <h3 class="title"><%= val.title%></h3>
                <h4> <%= val.author%></h4>
                <% if(val.description){%>
                <li class="desc"><%= val.description%></li>
                <%}%>
      <button type="submit">View details</button>
      <!-- <a href="/books/<%= val.id%>"></a> -->
</div>

</form>
    <%}); %>


    </main>
    <footer></footer>
</body>

</html>